{% extends 'sidebar.html' %}

{% block content %}
    <style>
        /* Add your CSS styles here */
        /* Ensure CSS styles are properly organized and scoped */
        #event-selection-container {
            width: 400px;
            margin: 20px auto;
            height: fit-content;
            padding: 20px;
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            border-radius: 5px;
            text-align: center;
        }

        #event-selection-container h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        #event-selection-form .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            font-weight: bold;
            font-size: 18px;
        }

        select {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            text-transform: uppercase;
        }

        .option {
            font-size: 15px;
            text-transform: uppercase;
        }

        button[type="submit"] {
            padding: 10px 20px;
            margin-top: 20px;
            background-color: #0c930c;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>

    <div id="event-selection-container">
        {% if message %}
            <h1>{{ message }}</h1>
            <a href="{% url 'home' %}">
                <button type="submit">Back To Home</button>
            </a>
        {% else %}
            <h1>Select Event to Print Chalan</h1>
            <form id="event-selection-form" action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="event">Select Event:</label>
                    <select name="event" id="event">
                        {% for event in events %}
                            <option class="option" value="{{ event }}">{{ event }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit">View Chalan</button>
            </form>
        {% endif %}
    </div>
{% endblock content %}
