{% extends 'sidebar.html' %}
{% block content %}
<style>
    #Enter_qr_code {
        width: 400px;
        margin: 20px auto;
        height: fit-content;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
    }

    .details {
        width: 80%;
        margin: 0 auto 20px;
        text-align: left;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    /* Form styling */
    .form_qr {
        width: 300px;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
    }

    input[type="text"],
    textarea {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

    button[type="submit"] {
        padding: 10px 20px;
        background-color: #0c930c;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    button[type="submit"]:hover {
        background-color: #0056b3;
    }

    /* Message styling */
    .message {
        margin-top: 20px;
        color: red;
    }

    .btn_print {
        padding: 10px 20px;
        background-color: #0c930c;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 10px;
    }
</style>

<div id="Enter_qr_code">
    <h1>Event Details</h1>
    <div class="details">
        <p><strong class="event-name">Event Id:</strong> {{ event_details.event_id }}</p>
        <p><strong class="event-name">Event Name:</strong> {{ event_details.event_name }}</p>
        <p><strong class="event-location">Event Location:</strong> {{ event_details.event_location }}</p>
        <p><strong class="event-date">Event Date:</strong> {{ event_details.event_date }}</p>
        <p><strong class="warehouse-location">Warehouse Location:</strong> {{ event_details.warehouse_location }}</p>
    </div>
    <h2>Enter Key Note for {{ event_details.event_name }} </h2>
    <form class="form_qr" method="POST">
        {% csrf_token %}
        <input type="hidden" name="event_id" value="{{ event_details.event_id }}">
        {% if message %}
        <p class="message">{{ message }}</p>
        {% endif %}
        <br>
        <label for="remark_note">Remark:</label><br>
        <textarea id="remark_note" name="remark_note" rows="6" cols="60" placeholder="Enter Remark"></textarea><br>
        <button type="submit">Submit</button>
    </form>
    <br> 
</div>
{% endblock content %}
