{% extends 'sidebar.html' %}
{% block content %}
<style>
    #main-content {
        width: 80%;
        padding: 10px;
    }

.heading-main {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}

/* Style for the form label */
label {
    font-size: 16px;
    margin-right: 10px;
}

/* Style for the select element */
select {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
}

/* Style for the submit button */
button {
    font-size: 16px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for the submit button on hover */
button:hover {
    background-color: #0056b3;
}

    h1 {
        color: #333;
        margin-bottom: 20px;
        text-align: center;
    }

    .table-wrapper {
        overflow-x: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;

    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    thead {
        background-color: #333;
        color: #fff;
    }

    tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tbody tr:hover {
        background-color: #ddd;
    }

    .view-details-button {
        background-color: #007bff; /* Blue background color */
        color: white; /* White text color */
        padding: 5px 5px; /* Padding */
        border: none; /* No border */
        border-radius: 5px; /* Rounded corners */
        cursor: pointer; /* Cursor style on hover */
        font-size: 16px; /* Font size */
    }

    /* Hover effect */
    .view-details-button:hover {
        background-color: #0056b3; /* Darker blue color on hover */
    }
</style>
<div id="main-content">

     <div class="heading-main" >
        <h1 class="home_title"> Details of {{ selected_product_name }}</h1>
        <form action="{% url 'product_details_location' %}" method="POST">
            {% csrf_token %}
            <label for="warehouse_location">Choose a warehouse location:</label>
            <select id="warehouse_location" name="warehouse_location">
                <option value="" {% if warehouse_location == "" %}selected{% endif %}>Select</option>
                <option value="Mumbai" {% if warehouse_location == "Mumbai" %}selected{% endif %}>Mumbai</option>
                <option value="Delhi" {% if warehouse_location == "Delhi" %}selected{% endif %}>Delhi</option>
                <option value="Bangalore" {% if warehouse_location == "Bangalore" %}selected{% endif %}>Bangalore</option>
            </select>
            <input type="hidden" name="product_name" value="{{ selected_product_name }}">
            <button type="submit">Views</button>
        </form>
    </div>

    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                     <th>QR Code</th>
                    <th>Model</th>
                    <th>Configuration</th>
                    <th>Working Status</th>
                    <th>Warehouse Location</th>
                    <th>Buy Year</th>
                    <th>Serial Number</th>
                    <th>Office Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.qr_code }}</td>
                    <td>{{ product.model }}</td>
                    <td>{{ product.configuration }}</td>
                    <td>{{ product.working_status }}</td>
                    <td>{{ product.warehouse_location }}</td>
                    <td>{{ product.buy_date|date:"Y" }}</td>
                    <td>{{ product.serial_number }}</td>
                    <td>{{ product.office_status }}</td>
                    <td>
                        <form action="{% url 'update_product' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="qr_code" value="{{ product.qr_code }}">
                            <button type="submit" class="view-details-button">Edit</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
