{% extends 'sidebar.html' %}
{% block content %}

<div class="container">
    <h1>Upload Products</h1>
        {% if message %}
    <h1>{{ message }}</h1>
    <a href="{% url 'home' %}"><button type="submit">Back To Home</button></a>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file">Choose Excel File:</label>
        <input type="file" name="file" id="file" accept=".xls,.xlsx" required>
        <button type="submit">Upload</button>
    </form>
</div>

<style>
    .container {
        width: 400px;
        height: fit-content;
        margin: 0 auto;
        padding: 20px;
        margin-top: 10px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }

    form {
        text-align: center;
    }

    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

    input[type="file"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    button[type="submit"] {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
    }

    button[type="submit"]:hover {
        background-color: #0056b3;
    }
</style>

{% endblock content %}
